.company {
    border-bottom: 1px solid #cfcfcf;
    padding: 45px 0;

    .container {
        display: flex;
        justify-content: center;

        .company-content {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .rwd-company {
                @include lg {
                    width: 33%;
                    text-align: center;
                }

                @include sm {
                    width: 50%;
                }
            }

            img {
                padding: 0 30px;

                @include lg {
                    padding: 20px 30px;
                }
            }
        }
    }
}