header {
    height: 100px;
    background-color: #000000;
    width: 100%;

    @include xl {
        height: auto;
    }

    .navbar {
        display: flex;
        justify-content: center;
        height: 100px;
        align-items: center;

        @include xl {
            height: auto;
            display: block;
        }

        .navbar-logo {
            margin-right: 70px;

            @include xl {
                margin: 10px auto;
                display: block;
                text-align: center;
            }
           .header-logo {
               &:hover {
                   opacity: 0.5;
               }
           }
        }
    }

    .navbar-list {
        display: flex;
        white-space: nowrap;

        @include xl {
            display: none;
        }

        &.navbar-hidden {
            @include xl {
                display: block;
                text-align: center;
                margin: 0 auto;
                margin-bottom: 15px;
            }
        }
    }

    li {
        list-style: none;
        margin: 0 13px;

        @include xl {
            margin: 17px 0;
        }


        a {
            text-decoration: none;
            color: #ffffff;
            font-weight: 700;
            font-size: 12px;
            text-transform: uppercase;
            padding-bottom: 37px;

            &:hover {
                border-bottom: 5px solid $activeColor;
            }

            @include xl {
                padding: 0;
                font-size: 15px;
            }
        }
    }
}

.hamburger-btn {
    display: none;
    color: #ffffff;
    background-color: #000000;
    font-size: 45px;
    border: none;

    @include xl {
        display: block;
        border: none;
        margin: 15px auto;
        outline: none;

        &:hover {
            cursor: pointer;
            color: $activeColor;
        }
    }
}