@import "variables";
@import "normalize";
@import "layout";
@import "top-menu";
@import "main";
@import "about-us";
@import "service";
@import "our-projects";
@import "gallery";
@import 'our-team';
@import'client';
@import 'company';
@import 'price';
@import 'premium';
@import 'some-facts';
@import 'contact-us';
@import 'map';
@import 'footer';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:$mainFont;
    overflow-x: hidden;
}
